{%extends "base.html" %}
{%block content%}
<div class="main">
    <h1>Welcome to ChatApplication {{ username }}</h1>
    <h3>The code is {{ form.code1 }}</h3>
    <form method="post" action="">
        <div class="form-group">
            {{ form.csrf_token }}

            {{ form.code.label}}
            {{ form.code(class="form-control form-control-lg",placeholder="code") }}

          </div>
          <div class="d-flex bd-highlight">
            {{form.submit(class="form-control form-control-lg  green-button" )}}
                     
       </div>

        </div>
    </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
   


</script>

</div>
{% endblock %}