{%extends "base.html" %}
{%block content%}
<div class="main">
    <h1>Welcome to ChatApplication</h1>
    <h3>Enter your login credentials</h3>
    <form method="post" action="">
          <div class="form-group">
            {{ form.csrf_token }}

            {{ form.username.label}}
            {{ form.username(class="form-control form-control-lg",placeholder="Username") }}
            
          </div>

        <div class="form-group">
            {{ form.password.label}}
            {{ form.password(class="form-control form-control-lg",placeholder="password") }}
            </div>
          
          <div class="d-flex bd-highlight">
               {{form.submit(class="form-control form-control-lg  green-button" )}}
                        
          </div>
    </form>
    <div class="d-flex bd-highlight">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('main.signup') }}">Sign Up Now</a>
        </small>
    </div>


</div>
{% endblock %}